In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("fivethirtyeight")
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv('/content/Salary_Data (2).csv')

In [ ]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
x=np.array(data['YearsExperience'])
y=np.array(data['Salary'])
l=len(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=6)
lx=len(x_train)

In [ ]:
m=0.1
c=0.5
alpha=0.01
n=5000
for i in range(n):
    slope=0
    intercept=0
    for j in range(lx):
        random_index=np.random.randint(lx)
        intercept=intercept+((m*x_train[random_index:random_index+1]+c)-y_train[random_index:random_index+1])
        slope=slope+((m*x_train[random_index:random_index+1]+c)-y_train[random_index:random_index+1])*x_train[random_index:random_index+1]
        c=c-alpha*(intercept/lx)
        m=m-alpha*(slope/lx)

In [ ]:
print(f"slope is {m}")
print(f"intercept is {c}")

slope is [9325.4340507]
intercept is [22940.65988789]

In [ ]:
y_pred=np.dot(m[0],x_test)+c[0]
y_pred

array([ 33198.63734365, 118992.63061006, 112464.82677458,  50916.96203998,
        72365.46035658,  78893.26419207,  52782.04885012,  49984.41863491])

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import explained_variance_score

In [ ]:
print(mean_squared_error(y_test,y_pred))
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(mean_absolute_error(y_test,y_pred))
print(explained_variance_score(y_test,y_pred))
print(r2_score(y_test,y_pred))

65380745.86239336
8085.836126362775
6629.468899756863
0.9726728336889218
0.9166310552198045